<style>
	body {
		background: #ccc;
	}
</style>
<form action="" method="POST">
	X Coordinate (1-1000) <input type="number" name="x" min="1" max="1000" required></input ><br> 
  Y Coordinate (1-1000) <input type="number" name="y" min="1" max="1000" required></input><br>
	Color <select name="color" id=""><option value="red">Red</option><option value="green">Green</option><option value="blue">Blue</option></select>
  <input type="submit">
</form>
<div>{{number}} Pixels Placed</div>
<div>(1,1)</div>
  <img src="static/canvas{{number}}.png" alt="generated canvas of pixels">
  (1,1000)